
version: "3.8"
services:
  scf-backend:
    container_name: scf-backend
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    volumes:
      - ./src:/home/node/app/src
      - ./nodemon.json:/home/node/app/nodemon.json
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://postgres:secret@postgres:5432/scf-backend
      PORT: 4000
    ports:
      - "4000:4000"
    command: npm run dev
  postgres:
    container_name: postgres
    image: postgres:14.1
    ports:
      - "5432:5432"
    volumes: 
      - ./db_data:/var/lib/postgresql/data
      - ./src/migrations/dbinit.sql:/docker-entrypoint-initdb.d/dbinit.sql
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: scf-backend
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: asif@venzo.com
      PGADMIN_DEFAULT_PASSWORD: secret
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
volumes:
    db_data:
    pgadmin_data: